* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --bg-primary: #191c1e;
  --bg-foreground: #2b3136;
  --bg-other: #070e18;
  --text-primary: #fbfbfb;
  --accent: #a6c8ff;
  --accent-text: #191c1e;
  --spacing: 10px;
  --radius: 5px;
  --bigradius: 25px;
}

body {
  background-color: var(--bg-primary);
  padding: var(--padding);
}

header {
  padding: var(--spacing);
  margin: var(--spacing);
  color: var(--text-primary);
  background-color: var(--bg-foreground);
  border-radius: 25px;
}

form {
  background-color: var(--bg-foreground);
  padding: 20px;
  margin: var(--spacing);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  gap: 15px;
  .input-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--text-primary);
    label {
      font-size: small;
    }
    div {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      background-color: var(--bg-primary);
      border-radius: var(--radius);
      i {
        margin-right: 10px;
      }
    }
    input {
      padding: 10px;
      background-color: var(--bg-primary);
      border: none;
      outline: none;
      border-radius: var(--radius);
      color: var(--text-primary);
    }
  }

  button {
    margin-top: var(--spacing);
    cursor: pointer;
    background-color: var(--accent);
    color: var(--accent-text);
  }
}

button {
  padding: var(--spacing);
  border: none;
  outline: none;
  border-radius: 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.container {
  background-color: var(--bg-foreground);
  padding: var(--spacing);
  /* margin: var(--spacing); */
  margin-inline: 10px;
  border-radius: var(--bigradius);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  table {
    border-collapse: collapse;
    color: var(--text-primary);
    overflow: hidden;
  }

  th,
  td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
  }

  tr:first-child {
    color: var(--text-button);
  }

  tr:hover:not(:first-child) {
    background-color: #222;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.btn-cont {
  /* margin: var(--spacing); */
  padding: var(--spacing);
  button {
    width: 100%;
    background-color: var(--bg-other);
    color: var(--text-primary);
    border: 1px solid var(--accent);
  }
}
